<div class="container head-container text-center mt-5">
  <small class="grey-text small-font-top">- ABOUT -</small>
  <h1 class="display-4 navy-blue-text my-title-font wow fadeIn" data-wow-duration="2s">Who We Are</h1>
  <p class="my-sub-font grey-text">Founded in 2003, Yare Business Park has served the
    Eastleigh area’s growing need for new property and real estate
    projects through impressive integrity and a commitment to
    delivering results with the highest quality standards. Our
    professional team works closely with tennants in order to come up
    with results that exceed expectations.</p>
</div>
<div class="wow fadeInUp">
  <div class="full-width-image-one"></div>
</div>
<div class="container about-wrap">
  <!-- row one -->
  <div class="row py-5">
    <div class="col-md-6 text-center wow fadeInLeft">
      <img src="assets/boardroom.jpg" width="300" class="img-fluid pb-2" alt="">
    </div>
    <div class="col-md-6 wow fadeInRight">
      <h2 class="h1-responsive my-title-font navy-blue-text">Standards</h2>
      <div class="my-sub-font grey-text">
        <p>We strive to maintain the up most in standard practices and due deligence to better provide you with five start quality service. Yare Centre Ltd uses a community based approach in the implementation of improved standards.</p>
      </div>

    </div>
  </div>
  <!-- row one end -->
  <!-- row two start -->
  <div class="row py-5">
    <div class="col-md-6 wow fadeInLeft text-right">
      <h2 class="h1-responsive my-title-font navy-blue-text">Philosophy</h2>
      <div class="my-sub-font grey-text">
        <p>Yare Centre's Ltd Philisophy is to maintain quality and high ethics in business practices, by following the current standards and policies in the industry. Through enhancement in facilities as well as service policies.</p>
      </div>

    </div>
    <div class="col-md-6 wow text-center fadeInRight">
      <img src="assets/community.jpg" class="img-fluid" width="300" alt="">
    </div>
  </div>
  <!-- row two end -->
</div>
<div class="full-width-image-two wow fadeIn">
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-12 text-center my-5">
        <!-- Section: Team v.1 -->
        <section class="team-section text-center my-5">

          <!-- Section heading -->
          <h2 class="h1-responsive my-title-font navy-blue-text my-5 philosiphy-title wow fadeIn">Our Core Values</h2>
          <!-- Section description -->
          <p class="white-text w-responsive mx-auto mb-5 wow fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
            Fugit, error
            amet numquam iure provident voluptate esse quasi,
            veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 wow fadeInUp" data-wow-delay="0.2s">
              <div class="avatar mx-auto">
                <mdb-icon fas icon="suitcase" size="5x" class="dark-red-text"></mdb-icon>
              </div>
              <h5 class="my-title-font navy-blue-text h2 mt-4 mb-3">Professionalism</h5>
              <p class="text-uppercase blue-text">

              </p>
              <p class="white-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci sed
                quia non numquam modi
                tempora eius.</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 wow fadeInUp">
              <div class="avatar mx-auto">
                <mdb-icon fas icon="certificate" size='5x' class="dark-red-text"></mdb-icon>
              </div>
              <h5 class="my-title-font navy-blue-text h2 mt-4 mb-3">Certifications</h5>
              <p class="text-uppercase blue-text">

              </p>
              <p class="white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
                doloremque
                rem laudantium totam
                aperiam.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-md-0 mb-5 wow fadeInUp">
              <div class="avatar mx-auto">
                <mdb-icon far icon="eye" size='5x' class="dark-red-text"></mdb-icon>
              </div>
              <h5 class="my-title-font navy-blue-text h2 mt-4 mb-3">Transparency</h5>
              <p class="text-uppercase blue-text">

              </p>
              <p class="white-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim est fugiat nulla
                id eu laborum.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="avatar mx-auto">
                <mdb-icon fas icon="balance-scale" size='5x' class="dark-red-text"></mdb-icon>
              </div>
              <h5 class="my-title-font navy-blue-text h2 mt-4 mb-3">Integrity</h5>
              <p class="text-uppercase blue-text">

              </p>
              <p class="white-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
                totam
                officia voluptates perferendis
                voluptatibus aut.</p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </section>
        <!-- Section: Team v.1 -->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

</div>

<div class="container">
  <mdb-card class="wow fadeInUp mt-5">
    <div class="row">
      <div class="col-md-4 bg-light-grey p-5 text-center">

        <h2 class="navy-blue-text my-title-font">
          <strong>Contact Us</strong>
        </h2>
        <div class="row pt-5">
          <div class="col address navy-blue-text">
            <mdb-icon fas icon="map-pin" class="dark-red-text pb-2" size="5x"></mdb-icon>
            <p>1st Avenue</p>
            <p>Eastliegh</p>

          </div>
        </div>
        <div class="row">
          <div class="col email navy-blue-text">
            <mdb-icon fas icon="at" class="dark-red-text pb-2" size="5x"></mdb-icon>
            <p>admin@yare.co.ke</p>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col logo">
            <img class="img-fluid" src="assets/logo/yare-logo-one.png" alt="">
          </div>
        </div>

      </div>
      <div class="col-md-8 p-5">


        <mdb-card-body class="px-lg-5 pt-0">

          <form class="text-center" style="color: #757575;" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

            <div class="md-form mt-3">
              <input type="text" formControlName="contactFormName" id="materialContactFormName" class="form-control"
                mdbInput>
              <label for="materialContactFormName">Name</label>
            </div>

            <div class="md-form">
              <input type="email" formControlName="contactFormEmail" id="materialContactFormEmail" class="form-control"
                mdbInput>
              <label for="materialContactFormEmail">E-mail</label>
            </div>

            <span>Subject</span>
            <div class="row">
              <div class="col-md-12 mx-auto">
                <mdb-select formControlName="contactFormSubjects" [options]="optionsSelect"
                  placeholder="Choose your option"></mdb-select>
              </div>
            </div>

            <div class="md-form">
              <textarea type="text" formControlName="contactFormMessage" id="materialContactFormMessage"
                class="form-control md-textarea" mdbInput></textarea>
              <label for="materialContactFormMessage">Message</label>
            </div>

            <div class="row">
              <div class="col-md-6 mx-auto d-flex justify-content-center">
                <mdb-checkbox formControlName="contactFormCopy">Send me a copy of this message</mdb-checkbox>
              </div>
            </div>

            <button mdbBtn color="" outline="true" rounded="true" block="true"
              class="z-depth-0 my-4 waves-effect bg-dark-red" mdbWavesEffect type="submit"
              [disabled]="disabledSubmitButton">Send</button>

          </form>

        </mdb-card-body>
      </div>
    </div>


  </mdb-card>
</div>
