<div class="container head-container text-center mt-5">
    <h1 class="display-4 navy-blue-text my-title-font wow fadeIn" data-wow-duration="2s">Finance</h1>
    <button type="button" mdbBtn color="primary" routerLink="/companies" mdbWavesEffect>Back</button>
  </div>
  
  
  <div class="container mb-5">
    <!-- Grid row -->
    <div class="gallery" id="gallery">
  
      <!-- Grid column -->
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Finance</p>
        </div>
      </div>
      <!-- Grid column -->
  
  
  
      <!-- Grid column -->
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Finance</p>
        </div>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Finance</p>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Finance</p>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Finance</p>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Finance</p>
        </div>
      </div>
      <!-- Grid column -->
  
    </div>
  
  </div>
  