<div class="container head-container text-center mt-5">
  <h1 class="display-4 navy-blue-text my-title-font wow fadeIn" data-wow-duration="2s">Furnitures</h1>
</div>


<div class="container mb-5">
  <!-- Grid row -->
  <div class="gallery" id="gallery">

    <!-- Grid column -->
    <a routerLink="furniture">
      <div class="view overlay mb-3 pics animation all 2 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
          alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Furniture</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->



    <!-- Grid column -->
    <a routerLink="furniture">
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
          alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Furniture</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->
    <!-- Grid column -->
    <a routerLink="furniture">
      <div class="view overlay mb-3 pics animation all 2 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
          alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Furniture</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

    <!-- Grid column -->
    <a routerLink="furniture">
      <div class="view overlay mb-3 pics animation all 2 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
          alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Furniture</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

        <!-- Grid column -->
        <a routerLink="furniture">
          <div class="view overlay mb-3 pics animation all 2 wow fadeInUp">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
              alt="Card image cap">
            <div class="mask flex-center bg-dark-red-op-9">
              <p class="light-grey-text my-title-font h1">Furniture</p>
            </div>
          </div>
        </a>
        <!-- Grid column -->

            <!-- Grid column -->
    <a routerLink="furniture">
      <div class="view overlay mb-3 pics animation all 2 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
          alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Furniture</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

  </div>

</div>
