// font styles
$my-title-font: 'Libre Baskerville', serif;
$my-sub-font: 'Montserrat', sans-serif;
$font-sm: 0.8rem;
// Colors
$navy-blue: #0b2f5f;
$dark-grey: #8d99ae;
$light-grey: #edf2f4;
$red: #ef233c;
$dark-red: #d90429;

.my-title-font {
    font-family: $my-title-font;
}

.my-sub-font {
    font-family: $my-sub-font;
}

.small-font-top {
    font-family: $my-sub-font;
    font-size: $font-sm;
}

.navy-blue-text {
    color: $navy-blue;
}

.dark-red-text {
    color: $dark-red;
}

.bg-dark-grey {
    background-color: $dark-grey;
}

.bg-light-grey {
    background-color: $light-grey;
}

.bg-navy-blue {
    background-color: $navy-blue;
}

.bg-dark-red {
    background-color: $dark-red;
}


.head-container {
    line-height: 4.5;
    .row {
        line-height: .5;
    }
}

.address {
    line-height: .5;
}

.email {
    line-height: .5;
}


// Extra small devices (portrait phones, less than 576px)
@media (min-width: 200px) {
    .head-container {
        padding: 5rem 1rem;
    }
}

@media (max-width: 575px) { 
    .my-sub-font {
        line-height: 1.5;
    }

 }

 @media (min-width: 1000px) {
    .head-container {
        padding: 0 1rem;
    }
}