
  <!-- HEADER CONTENT --> 
<div class="container head-container text-center mt-5">
    <small class="grey-text small-font-top">- SERVICES -</small>
    <h1 class="display-4 navy-blue-text my-title-font wow fadeIn" data-wow-duration="2s">Services Available</h1>
    <p class="my-sub-font grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi in corporis
      inventore quam placeat natus id accusantium neque perspiciatis! Facilis quas vitae maiores voluptate vel voluptas
      doloremque debitis, maxime molestiae.</p>
  </div>
  <!-- HEADER CONTENT END -->
  
  <!-- IMAGE HEADER START -->
  <div class="full-width-image-one"></div>
  <!-- IMAGE HEADER END -->
  
  <!-- SERVICES START -->
  
  <div class="container service-wrap">
    <!-- row one -->
    <div class="row py-5">
      <div class="col-md-6 text-center wow fadeInLeft">
        <img src="https://placeimg.com/300/400/arch" class="img-fluid" alt="">
      </div>
      <div class="col-md-6 wow fadeInRight">
        <h2 class="my-title-font navy-blue-text">Leasing</h2>
        <div class="my-sub-font grey-text">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vel ipsam quos dicta eveniet recusandae voluptate voluptates eaque non, vero quaerat ea molestias vitae tenetur velit architecto temporibus! Modi, corrupti.</p>
          <p>What we offer:</p>
          <p>* Lease One</p>
          <p>* Lease Two</p>
          <p>* Lease Three</p>
        </div>
  
      </div>
    </div>
    <!-- row one end -->
    <!-- row two start -->
    <div class="row py-5">
        <div class="col-md-6 wow fadeInLeft tr">
            <h2 class="my-title-font navy-blue-text">Space Rental</h2>
            <div class="my-sub-font grey-text">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vel ipsam quos dicta eveniet recusandae voluptate voluptates eaque non, vero quaerat ea molestias vitae tenetur velit architecto temporibus! Modi, corrupti.</p>
              <p>What we offer:</p>
              <p>* Space One</p>
              <p>* Space Two</p>
              <p>* Space Three</p>
            </div>
      
          </div>
      <div class="col-md-6 wow text-center fadeInRight">
        <img src="https://placeimg.com/300/400/arch" class="img-fluid" alt="">
      </div>
    </div>
    <!-- row two end -->
    <!-- row three start -->
    <div class="row py-5">
        <div class="col-md-6 wow text-center fadeInLeft">
          <img src="https://placeimg.com/300/400/arch" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 wow fadeInRight">
          <h2 class="my-title-font navy-blue-text">Go Downs</h2>
          <div class="my-sub-font grey-text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vel ipsam quos dicta eveniet recusandae voluptate voluptates eaque non, vero quaerat ea molestias vitae tenetur velit architecto temporibus! Modi, corrupti.</p>
            <p>What we offer:</p>
            <p>* Lease One</p>
            <p>* Lease Two</p>
            <p>* Lease Three</p>
          </div>
    
        </div>
      </div>
    <!-- row three end -->
    <!-- row four start -->
    <div class="row py-5">
        <div class="col-md-6 wow fadeInLeft tr">
            <h2 class="my-title-font navy-blue-text">Parking</h2>
            <div class="my-sub-font grey-text">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vel ipsam quos dicta eveniet recusandae voluptate voluptates eaque non, vero quaerat ea molestias vitae tenetur velit architecto temporibus! Modi, corrupti.</p>
              <p>What we offer:</p>
              <p>* Car One</p>
              <p>* Car Two</p>
              <p>* Car Three</p>
            </div>
      
          </div>
      <div class="col-md-6  wow text-center fadeInRight">
        <img src="https://placeimg.com/300/400/arch" class="img-fluid" alt="">
      </div>
    </div>
    <!-- row four end -->
  
    <mdb-card class="wow fadeInUp mt-5">
        <div class="row">
          <div class="col-md-4 bg-light-grey p-5 text-center">
      
              <h2 class="navy-blue-text my-title-font">
                <strong>Contact Us</strong>
              </h2>
              <div class="row pt-5">
                <div class="col address navy-blue-text">
                  <mdb-icon fas icon="map-pin" class="dark-red-text pb-2" size="5x"></mdb-icon>
                  <p>1st Avenue</p>
                  <p>Eastliegh</p>
            
                </div>
              </div>
              <div class="row">
                <div class="col email navy-blue-text">
                  <mdb-icon fas icon="at" class="dark-red-text pb-2" size="5x"></mdb-icon>
                  <p>admin@yare.co.ke</p>
                </div>
              </div>
              <div class="row pt-5">
                <div class="col logo">
                  <img class="img-fluid" src="assets/yare-logo-one.png" alt="">
                </div>
              </div>
           
          </div>
          <div class="col-md-8 p-5">
    
          
            <mdb-card-body class="px-lg-5 pt-0">
          
              <form class="text-center" style="color: #757575;" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          
                <div class="md-form mt-3">
                  <input type="text" formControlName="contactFormName" id="materialContactFormName" class="form-control"
                    mdbInput>
                  <label for="materialContactFormName">Name</label>
                </div>
          
                <div class="md-form">
                  <input type="email" formControlName="contactFormEmail" id="materialContactFormEmail" class="form-control"
                    mdbInput>
                  <label for="materialContactFormEmail">E-mail</label>
                </div>
          
                <span>Subject</span>
                <div class="row">
                  <div class="col-md-12 mx-auto">
                    <mdb-select formControlName="contactFormSubjects" [options]="optionsSelect" placeholder="Choose your option"></mdb-select>
                  </div>
                </div>
          
                <div class="md-form">
                  <textarea type="text" formControlName="contactFormMessage" id="materialContactFormMessage" class="form-control md-textarea"
                    mdbInput></textarea>
                  <label for="materialContactFormMessage">Message</label>
                </div>
          
                <div class="row">
                  <div class="col-md-6 mx-auto d-flex justify-content-center">
                    <mdb-checkbox formControlName="contactFormCopy">Send me a copy of this message</mdb-checkbox>
                  </div>
                </div>
          
                <button mdbBtn color="" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect bg-dark-red"
                  mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>
          
              </form>
          
            </mdb-card-body>
          </div>
        </div>
          
        
        </mdb-card>
  </div>
  
  <!-- SERVICES END -->
