<!-- header content -->
<div class="jumbotron header z-depth-0">
  <h1 class="display-4 my-title-font navy-blue-text wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">A Commercial Hub Rich With Opportunities</h1>
  <p class="lead my-sub-font dark-grey-text wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
    <button mdbBtn type="button" color="" class="bg-dark-red wow fadeInLeft" data-wow-duration="1.5s" data-wow-duration="2s" rounded="true" mdbWavesEffect>Learn More</button>
</div>
<div class="full-width-image-one wow fadeInUp" data-wow-delay="1.5s" data-wow-duration="1s"></div>

<!-- header content end -->

<!-- main content start -->
<div class="container">
  <div class="top-row row p-5">
    <div class="col-md-6">
      <img src="https://placeimg.com/300/400/people?t=1566979995378" class="img-fluid wow fadeInLeft" alt="">
    </div>
    <div class="col-md-6">
      <h2 class="my-title-font navy-blue-text wow fadeInRight">Unlocking The Value Of Retail Properties</h2>
      <p class="my-sub-font dark-grey-text wow fadeInRight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur facere illum quia consequatur veritatis perspiciatis! Odit nostrum porro illo repudiandae mollitia fuga, cum vel quidem officiis sunt, omnis facilis reprehenderit.</p>
      <button mdbBtn type="button" color="" class="bg-dark-red wow fadeInUp" rounded="true" mdbWavesEffect>Learn More</button>
    </div>
  </div>
</div>
<div class="company-wrapper">
  

</div>
<!-- main content end -->