$my-title-font: 'Libre Baskerville',
serif;
$my-sub-font: 'Montserrat',
sans-serif;
$font-sm: 0.8rem;
// Colors
$navy-blue: #0b2f5f;
$dark-grey: #8d99ae;
$light-grey: #edf2f4;
$red: #ef233c;
$dark-red: #d90429;

.my-title-font {
  font-family: $my-title-font;
}

.my-sub-font {
  font-family: $my-sub-font;
}

.small-font-top {
  font-family: $my-sub-font;
  font-size: $font-sm;
}

.navy-blue-text {
  color: $navy-blue;
}

.dark-red-text {
  color: $dark-red;
}

.light-grey-text {
  color: $light-grey;
}

.dark-grey-text {
  color: $dark-grey;
}

.bg-dark-grey {
  background-color: $dark-grey;
}

.bg-light-grey {
  background-color: $light-grey;
}

.bg-navy-blue {
  background-color: $navy-blue;
}

.bg-dark-red {
  background-color: $dark-red;
}

.header {
  overflow: hidden;

  .bg-dark-red:hover {
    background-color: $navy-blue;
  }
}

.top-row {
    overflow: hidden;
  
    .bg-dark-red:hover {
      background-color: $navy-blue;
    }
  }


.full-width-image-one {
  background: url("../../assets/Yare-42.jpg");
  height: 50vh;
  background-size: cover;
  background-position: 0px 0px;
	background-repeat: repeat-x;
  margin-left: -10vw;
  animation: moveLeft 15s ease-in-out infinite alternate;
}

.company-wrapper {
  .card-hover:hover {
    background-color: $navy-blue;
    h4 {
      color: $light-grey !important;
    }
  }
}


@keyframes moveLeft {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px 15%;
  }
}


* {
    overflow: hidden;
}

.container {
  .bg-dark-red:hover {
    background-color: $navy-blue;
  }
}

.company-wrapper {
    background-color: $light-grey;
    height: 100%;
    .bg-dark-red:hover {
      background-color: $navy-blue;
    }


}

.call-to-contact {
  background-color: $navy-blue;
  height: 100%;
  .bg-dark-red:hover {
    background-color: $light-grey;
    color: #0b2f5f;
  }
}







// Small devices (landscape phones, 576px and up)
@media (min-width: 200px) {
  .header {
    text-align: center !important;
    width: 100%;
    padding: 10rem 0;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }

  }

  .container {
    text-align: center;
  }

  .glide {
    padding: 1rem;
  }
}

@media (min-width: 375px) {
  .header {
    text-align: center !important;
    width: 100%;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }


}

@media (min-width: 1000px) {
  .header {
    text-align: left !important;
    width: 100%;
    margin: 5.5rem 0rem;
    padding: 0rem 0 0 10rem;

    h1 {
      font-size: 4rem;
      width: 75%;
    }

    p {
      font-size: 1.3rem;
      width: 60%;
      padding-left: 1rem;
    }
  }
  .container {
    text-align: left;
  }

  .sub-image {
      img {
          position: relative;
          padding: 0 0 0 17rem;
      }
  }

  .top-image {
    z-index: 6;
    top: 5vh;
    left: 10vw;
      img {
          position: relative;
      }
  }

  .glide {
    padding: 0;
}
}

@media (min-width: 1500px) {
    .header {
      text-align: left !important;
      width: 100%;
      margin: 12rem 0rem;
      padding: 0 0 0 10rem;
  
      h1 {
        font-size: 6rem;
        width: 75%;
      }
  
      p {
        font-size: 2rem;
        width: 60%;

      }
    }
    .container {
      text-align: left;
    }
  }