<!-- header content -->
<div class="jumbotron header z-depth-0">
  <h1 class="display-4 my-title-font navy-blue-text wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">A
    Commercial Hub Rich With Opportunities</h1>
  <p class="lead my-sub-font dark-grey-text wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">Yare Centre Limited is focused on providing a safe, secure and profitable environment for businesses to grow to their maximum potential.</p>
  <button mdbBtn type="button" color="" class="bg-dark-red wow fadeIn" data-wow-duration="1.5s"
    data-wow-duration="1s" rounded="true" mdbWavesEffect routerLink="/contact">Learn More</button>
</div>
<div class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
<div class="full-width-image-one"></div>
</div>
<!-- header content end -->

<!-- main content start -->
<div class="container">
  <div class="top-row row p-5">
    <div class="col-md-6">
      <img src="../../assets/Yare-36-CUT.png" class="img-fluid wow fadeInLeft" width="300" alt="">
    </div>
    <div class="col-md-6">
      <h2 class="my-title-font navy-blue-text wow fadeInRight">Creating Dynamic And Fair Solutions For Businesses.</h2>
      <p class="my-sub-font dark-grey-text wow fadeInRight">Here at Yare Centre Limited we believe in creating a flouring hub for business to take place. Which is why we have developed an array of services that range from leasing to basic shop rentals to meet the demands of any emerging business.</p>
      <button mdbBtn type="button" routerLink="/services" color="" class="bg-dark-red wow fadeInUp" rounded="true" mdbWavesEffect>Services</button>
    </div>
  </div>
</div>
<div class="company-wrapper">
  <div class="container">
    <div class="row py-5">
      <div class="container text-center py-5">
        <h1 class="h1-responsive my-title-font navy-blue-text wow fadeInDown">Companies</h1>
        <p class="my-sub-font dark-grey-text wow fadeInDown px-5">Come visit a variety of different companies at Yare Centre ranging from various industries.</p>
      </div>
      <div class="glide">
        <div data-glide-el="track" class="glide__track">
          <ul class="glide__slides">
            <li class="glide__slide wow fadeInUp">
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="assets/shops/Haramen (1).jpeg"
                    alt="haramen"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="navy-blue-text my-title-font">Haramen</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <mdb-card-text> Latest men's fashion and accessories at a reasonable price.
                  </mdb-card-text>


                </mdb-card-body>
              </mdb-card>
              <!-- Card -->
            </li>
            <li class="glide__slide wow fadeInUp" data-wow-delay="0.4s">
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="assets/shops/TrendFashionShop.jpeg"
                    alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="navy-blue-text my-title-font">Willis Wear</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <mdb-card-text> Come find the latest brands in clothing to suite your needs.
                  </mdb-card-text>


                </mdb-card-body>
              </mdb-card>
              <!-- Card -->
            </li>
            <li class="glide__slide wow fadeInUp" data-wow-delay="0.2s">
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="assets/shops/mabal.jpeg"
                    alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="navy-blue-text my-title-font">Mabal</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <mdb-card-text> 
                    The newest in mens formal, casual wear and the latest jackets.
                  </mdb-card-text>


                </mdb-card-body>
              </mdb-card>
              <!-- Card -->
            </li>
            <li class="glide__slide wow fadeInUp">
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="assets/shops/Aisha.jpeg"
                    alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="navy-blue-text my-title-font">Aisha</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <mdb-card-text>The trendiest discounted Men's apparel for both adults and kids.
                  </mdb-card-text>


                </mdb-card-body>
              </mdb-card>
              <!-- Card -->
            </li>
            <li class="glide__slide wow fadeInUp" data-wow-delay="0.2s">
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="assets/shops/misky.jpeg"
                    alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="navy-blue-text my-title-font">Misky</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <mdb-card-text>
                    The latest Hijabs, Kanzus bags and shoes to fit any and all occasions.
                  </mdb-card-text>


                </mdb-card-body>
              </mdb-card>
              <!-- Card -->
            </li>
            <li class="glide__slide wow fadeInUp" data-wow-delay="0.4s">
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="assets/shops/aflan.jpeg"
                    alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="navy-blue-text my-title-font">Aflan</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <mdb-card-text> 
                    Amazing prices on featured curtains and rods, all latest designs.
                  </mdb-card-text>


                </mdb-card-body>
              </mdb-card>
              <!-- Card -->
            </li>
            <li class="glide__slide wow fadeInUp">
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="assets/shops/litecom.jpeg"
                    alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="navy-blue-text my-title-font">LiteCom</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <mdb-card-text> 
                    Great deals on all ICT related products to be found at Litecom.
                  </mdb-card-text>


                </mdb-card-body>
              </mdb-card>
              <!-- Card -->
            </li>
            <li class="glide__slide wow fadeInUp">
              <!-- Card -->
              <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <!-- Card img -->
                  <mdb-card-img src="assets/shops/suad.jpeg"
                    alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h4 class="navy-blue-text my-title-font">Suad</h4>
                  </mdb-card-title>

                  <!--Text-->
                  <mdb-card-text> 
                    The best selection of childrens wear all at affordable prices.
                  </mdb-card-text>


                </mdb-card-body>
              </mdb-card>
              <!-- Card -->
            </li>
          </ul>
        </div>
      </div>
      <div class="container text-center">
        <button mdbBtn type="button" color="" class="bg-dark-red wow fadeInUp text-center" rounded="true"
          mdbWavesEffect routerLink="/companies">View All Companies</button>
      </div>



    </div>

  </div>
</div>
<div class="container py-5">
  <div class="row">

    <div class="col-md-6 pt-5">
      <h2 class="my-title-font navy-blue-text wow fadeInLeft pt-5">Unlocking The Value Of Retail Properties</h2>
      <p class="my-sub-font dark-grey-text wow fadeInLeft">
        Yare Centre Ltd is commited to providing world class standards of service for small to medium sized enterprises. To further foster their growth and development in the emerging market place.
      </p>
      <button mdbBtn type="button" color="" class="bg-dark-red wow fadeInUp" rounded="true" mdbWavesEffect routerLink="/about">Learn
        More</button>
    </div>
    <div class="col-md-6 top-image">
      <img src="assets/YARE_WINDOW_PANE_PNG.png" width="300"  class="img-fluid wow fadeInRight" alt="">
    </div>
    <div class="row sub-image">
        <img src="assets/Yare-22-cut.jpg"  class="img-fluid wow fadeInUp" alt="">
    </div>
  </div>

</div>
<div class="call-to-contact">
  <div class="container text-center py-5">
      <h1 class="display-4 my-title-font light-grey-text wow fadeInUp pt-5" data-wow-delay="0.5s" data-wow-duration="2s">Want To Know More?</h1>
      <button mdbBtn type="button" color="" class="bg-dark-red wow fadeInUp"
      data-wow-duration="1s" data-wow-delay="2s" rounded="true" mdbWavesEffect routerLink="/contact">Click Here</button>
  </div>
</div>
<!-- main content end -->
