<!-- header content -->
<div class="jumbotron header z-depth-0">
  <h1 class="display-4 my-title-font navy-blue-text">A Commercial Hub Rich With Opportunities</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured content or information.</p>
    <button mdbBtn type="button" color="" class="bg-dark-red" rounded="true" mdbWavesEffect>Learn More</button>
</div>
<div class="full-width-image-one"></div>

<!-- header content end -->