<!-- HEADER CONTENT -->
<div class="container head-container text-center mt-5">
  <small class="grey-text small-font-top">- COMPANIES -</small>
  <h1 class="display-4 navy-blue-text my-title-font wow fadeIn" data-wow-duration="2s">The Business At Yare</h1>
  <p class="my-sub-font grey-text">At Yare Centre Ltd, we have a whole host of different merchants trading in different industries all in one place. Ready to give th best deals and discounts on items.</p>
</div>
<!-- HEADER CONTENT END -->

<div class="container companies mb-5">
  <!-- Grid row -->
  <div class="gallery" id="gallery">

    <!-- Grid column -->
    <a routerLink="furniture">
      <div class="view overlay mb-3 pics animation all 2 wow fadeInUp">
        <img class="img-fluid" src="https://thumbs.dreamstime.com/b/luxury-furniture-home-decor-store-nice-goods-mall-34905005.jpg"
          alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Furniture</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

    <!-- Grid column -->
    <a routerLink="finance">
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="assets/companies/finance.jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Finance</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

    <!-- Grid column -->
    <a routerLink="fashion">
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="assets/companies/fashion.jpeg" alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Fashion</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

    <!-- Grid column -->
    <a routerLink="travel">
      <div class="view overlay mb-3 pics animation all 2 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
          alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9 ">
          <p class="light-grey-text my-title-font h1">Travel</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

    <!-- Grid column -->
    <a routerLink="medical">
      <div class="view overlay mb-3 pics animation all 2 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
          alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Medical</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

    <!-- Grid column -->
    <a routerLink="hotel">
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Hospitality</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

    <!-- Grid column -->
    <a routerLink="food">
      <div class="view overlay mb-3 pics animation all 1 wow fadeInUp">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
        <div class="mask flex-center bg-dark-red-op-9">
          <p class="light-grey-text my-title-font h1">Food</p>
        </div>
      </div>
    </a>
    <!-- Grid column -->

    <!-- Grid column -->
    <a routerLink="wholesale">
      <div class="view overlay mb-3 pics animation all 1">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
        <div class="mask flex-center bg-navy-blue-op-9">
          <p class="light-grey-text my-title-font h1">Wholesale</p>
        </div>
        <!-- Grid column -->



      </div>
    </a>
    <!-- Grid row -->
  </div>
